/* Globals
-------------------------------------------------- */

/* Links */
a,
a:focus,
a:hover {
  color: #407ee7;
}


/* Base structure
-------------------------------------------------- */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `jumbotron` */
  background-color: rgba(0, 173, 156, 0.6);
  border: 1px rgba(0, 173, 156, 0.6);
}


/* Header
-------------------------------------------------- */

/* Custom page header */
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom pills */
.nav-pills > li > a {
  color: #6a9fb5;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: transparent;
  border-top-color: #6a9fb5;
  border-bottom-color: #6a9fb5;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #f22c40;
  background-color: transparent;
  border-top-color: #f22c40;
  border-bottom-color: #f22c40;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #fff;
  background-color: #f22c40;
}


/* Cover background image styles
-------------------------------------------------- */

.home {
  color: #fff;
  border-top: 3px solid #e6e2e0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-image: url('../img/imageone.jpg');
  background-size: cover;
}
.about {
  color: #fff;
  border-top: 3px solid #e6e2e0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-image: url('../img/imagetwo.jpg');
  background-size: cover;
}
.jumbotron h1 {
  text-shadow: -2px 2px 1px rgba(0, 173, 156, 0.6);
}
.jumbotron p {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


/* Marketing content
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}
