<!DOCTYPE html>
<html lang="en" data-ng-app="argon">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Argon</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="css/design.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-ng-controller="TabController as tab">
    <div class="container-fluid">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li data-ng-class="{ active: tab.isSet(1) }"><a href data-ng-click="tab.setTab(1)">HOME</a></li>
            <li data-ng-class="{ active: tab.isSet(2) }"><a href data-ng-click="tab.setTab(2)">ABOUT</a></li>
            <li data-ng-class="{ active: tab.isSet(3) }"><a href data-ng-click="tab.setTab(3)">CONTACT</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Argon</h3>
      </div>
    </div>

    <div data-ng-show="tab.isSet(1)">
      <div class="jumbotron home">
        <div class="container-fluid">
          <h1>Connecting stunning designs with ambitious clients.</h1>
          <p>Based in New Zealand.</p>
          <p><a class="btn btn-lg btn-default" href role="button" data-ng-click="tab.setTab(2)">Learn more</a></p>
        </div>
      </div>
    </div>
    <div data-ng-show="tab.isSet(2)">
      <div class="jumbotron about">
        <div class="container-fluid">
          <h1>About us.</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid" data-ng-controller="ContentController as content">
      <div class="marketing" data-ng-show="tab.isSet(1)">
        <h1 class="text-center">Team members</h1>
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-6" data-ng-repeat="item in content.items">
            <img class="img-circle" data-ng-src="https://github.com/identicons/{{item.image}}" style="width: 140px; height: 140px;">
            <h2>{{item.name}}</h2>
            <p>{{item.details}}</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
      <div data-ng-show="tab.isSet(2)">
        <p class="lead">Your business calls for the connection, professionalism and class demanded by modern customers. You need the developers, creators and thinkers of today. People can tell you anything, but the end results you need are the real ones. Get them with Argon.</p>
      </div>
      <div data-ng-show="tab.isSet(3)">
        <div class="page-header">
          <h1>Work with us</h1>
        </div>
        <ul class="list-inline">
          <li data-ng-repeat="item in content.items">
            <address>
              <strong>{{item.name}}</strong><br>
              <a href="mailto:{{item.email}}">{{item.email}}</a>
            </address>
          </li>
        </ul>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2015 Argon Design.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src='js/fastclick.js'></script>
    <script>
      $(function() {
        FastClick.attach(document.body)
      })
    </script>
  </body>
</html>
